<style>
  th{
    text-align:center;
  }
  .list-gambar{
    max-height: 100px;   
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default; 
  }
  .box-formy{
/*    margin-top:10px;
    margin-bottom:10px; */
    box-shadow: 4px 4px 2px #888888;
    width:60%;
    
    }
  .box-formy {
    border:none;
    border-bottom:2px solid #019587;

  }
        .dropzone {
        margin:20px;
        float:left;
        border-right: 1px solid lightgray;
        width: 200px;
        height: 200px;
        overflow: hidden
        }   

        /* klo melewati batas jumlah upload */
        .dz-max-files-reached {
        background-color: red;
        };
       
</style>

<link href="css/adi-formy.css" rel="stylesheet">
<link href="css/adi-modal.css" rel="stylesheet">
<section class="wrapper">
<!-- page start-->
  <div ng-cloak ng-controller="pemakaian_internalCtrl" id="pemakaian_internalCtrl">

    <div class="row">
      <div class="col-lg-2">
        <button type="submit" class="btn btn-primary" href="#myModal" data-toggle="modal" ng-click="bersihData()"><i class="fa fa-plus-circle" aria-hidden="true"></i> &nbsp;Tambah</button>
      </div>                    
      <div class="col-lg-2"> </div>
      <div class="col-lg-2"></div>
      <div class="col-lg-2"></div>
      <div class="col-lg-2"></div>
      <div class="col-lg-2">        
        <span style="font-weight:bold;color:#AF0004;float:right">{{total_pencarian}}</span>
        <!--button type="submit" href="#frmFoto" data-toggle="modal" class="btn btn-success">Tes Foto</button-->
      </div>  
    </div>

    
 

    <div class="row"><br></div>
    <section class="panel-success"> 
      <header class="panel-heading">
        <div class="row">
          <div class="col-lg-9"><b><i class="icon_book_alt"></i>Pemakaian Internal BBM</b></div>
          <div class="col-lg-3">                        
            <input class="form-control" id="txtfilter" ng-model="txtcari" placeholder="Pencarian ...." type="text" ng-keydown="$event.which === 13 && tampilCari()">
          </div><!-- event tekan tombol enter -->
        </div>
      </header>

      <div class="tabelx table-responsive" style="height:60vh;overflow:auto;" onscroll="loadlagi()">    
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Tanggal</th>
          <th>Peruntukan</th>
          <th>Jenis BBM</th>
          <th>Qty</th>           
          <th>No. Transaksi</th>
        </tr>
        </thead>
        <tbody>
          <tr ng-repeat="x in isi">
            <td>{{x.tgl}}</td>
            <td>{{x.rincian}}</td>
            <td>{{x.produk_nama}}</td>
            <td>{{x.qty}} Ltr</td>
            <td>{{x.nokwit}}</td>
            <td>
              <button class="btn btn-xs btn-success" ng-click="detailData(x.nokwit)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>          
              <button class="btn btn-xs btn-danger" ng-click="hapusData(x.nokwit)"><i class="icon_trash_alt"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
      <div data-ng-show="animation_image" align="center"><img src="loading.gif"  width="5%" style="position:fixed;z-index:99;top:45vh;margin:auto"></div>
      </div>  
    </section>



    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
      <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content"  style="background:white">
          <div class="modal-header-adi">
            <button type="button" class="close" data-dismiss="modal"><span class="icon-close"></span></button>
            <h4 class="modal-title">Pemakaian Internal</h4>
          </div>
          <div class="modal-body">
            <form class="adi-formy go-bottom">
              <div class="container">
                <div class="row">
                  <div class="col-sm-4 colz">
                    <input id="txttgl" name="txttgl" ng-model="txttgl" type="date" enter required>           
                  </div>
                  <div class="col-sm-9">
                   &nbsp;
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <input id="txtrincian" name="txtrincian" ng-model="txtrincian" type="text" enter required>
                    <label for="txtrincian">Peruntukan</label>
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col-sm-9">
                    <span style="color:#019587;font-weight: bold">Jenis BBM :</span>
                    <select class="form-control box-formy" ng-model="txtproduk_id"  ng-options="pilih.produk_id as pilih.produk_nama for pilih in produk" enter>
                    </select>
                  </div> 
                  <div class="col-sm-3">
                    <input id="txtqty" name="txtqty" ng-model="txtqty" type="number" enter required>
                    <label for="txtqty">Qty (Ltr)</label>
                  </div>
                </div>                                
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" data-ng-show="TmbUpdate" class="btn btn-success" ng-click="updateData()"  style="float:left;">Update</button>
            <button type="button" data-ng-show="TmbSimpan" class="btn btn-success" ng-click="SimpanData()"  style="float:left;">Simpan</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Tutup</button>
          </div>
        </div>
      </div>
    </div>

  </div>

</section>
